@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  @apply text-2xl font-bold mb-2;
}

.top-container {
  @apply container mx-auto mt-20 mb-28;
}

.list-h1 {
  @apply text-gray-900 text-4xl mb-5 font-semibold;
}

.grid-setting {
  @apply grid grid-cols-6 gap-4;
}

.detail-container {
  @apply bg-white text-gray-900;
}

.list-hover {
  @apply hover:shadow-md transition duration-200 ease-in-out;
}
